
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
--bokkw-ski: 55vh;
/* bok kwadratu na obrazek */
}

body {
    background-color: #fef3dd;
    /* border: 1px solid maroon; */
}

#content {
    background-color: #ccc;
    width: 70vw;
    height: 90vh;
    margin-top: 2%;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
}


div#pctArea {
    width: var(--bokkw-ski);
    height: var(--bokkw-ski);
    margin-left:  auto;
    margin-right: auto;
    /* obrazek: */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /*cover - ladny kwadrat, ale przycina...*/
    /* obrazek - koniec */
    transition: .2s;
    border: 1px solid black;
}

div#btnsArea {
    margin-top:2%;
    margin-left: auto;
    margin-right: auto;
    width: calc(2*var(--bokkw-ski));
    height: 20%;
    background-color: green;
    text-align: center;
}

div#bNazad, div#bWpieriod {
    display: inline-block;
    height: 80%;
    width: 30%;
    border: 2px solid black;

    /* margin:30px; */
}


div#bNazad {
    margin-right: 50px;
}
/* 
div#btnWpieriod {
    margin-right: 50px;
} */


