* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --content-width-ski: 70vw;
    --content-height-ski: 95vh;
    /* bok kwadratu na obrazek: */
    --pctAreaSide-ski: calc(0.5 * var(--content-width-ski));
    /* --btnsArea-height-ski: calc(0.1 * var(--content-height-ski)); */
    --btnsArea-height-ski: calc(0.25*var(--pctAreaSide-ski));
}

body {
    background-color: #fef3dd;
    /* border: 1px solid maroon; */
}

#content {
    background-color: #ccc;
    width: var(--content-width-ski);
    height: var(--content-height-ski);
    margin-top: 2%;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
}

div#pctArea {
    width: var(--pctAreaSide-ski);
    height: var(--pctAreaSide-ski);
    margin-left: auto;
    margin-right: auto;
    /* obrazek: */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    /*cover - ladny kwadrat, ale przycina...*/
    /* obrazek - koniec */
    transition: .2s;
    border: 1px solid black;
}

div#btnsArea {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: var(--content-width-ski);
    height: var(--btnsArea-height-ski);
    /* background-color: green; */
    border: 1px dotted black;
    ;
}

div#bNazad, div#bWpieriod {
    display: inline-block;
    height: inherit;
    width: 35%;
    text-align: center;
    border: 2px solid black;
}

div#bNazad {
    margin-right: 10%;
}

div#btnsArea p {
    font-size: 300%;
    line-height: var(--btnsArea-height-ski);
}

@media (max-width:1024px) {
    :root {
        --content-width-ski: 80vw;
        --content-height-ski: 65vh;
        /* bok kwadratu na obrazek */
        --pctAreaSide-ski: calc(0.7 * var(--content-width-ski));
    }
    div#btnsArea p {
        font-size: 200%;
    }
}

@media (max-width:880px) and (orientation: landscape) {
    :root {
        --content-width-ski: 80vw;
        --content-height-ski: 95vh;
        /* bok kwadratu na obrazek */
        --pctAreaSide-ski: calc(0.7 * var(--content-height-ski));
    }
}